<div id="container">
  <div class="button-container">
    <!-- Include the ButtonContainerComponent here -->
    <app-button-container></app-button-container>
  </div>
  <input type="text" id="customEndpoint" placeholder="Custom API Endpoint">
  <button onclick="fetchCustomContents()">Fetch Custom Contents</button>

  <input type="text" id="searchInput" placeholder="Search SharePoint">
  <button onclick="searchContents()">Search</button>

  <div class="list-container">
    <!-- Include the ListContainerComponent here -->
    <app-list-container></app-list-container>
  </div>
  <div id="loading" class="loading"></div>
  <div class="pagination">
    <!-- Include the PaginationComponent here -->
    <app-pagination></app-pagination>
  </div>
</div>
